<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Admin Page
    </title>
</head>

{% extends "base2.html" %}

{% block content %}
<div class="table-container">
    <table class="table-content">
        <thead>
            <tr>
                <th>UserID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Delete?</th>
            </tr>
        </thead>
        <tbody>{% for user in users %}
            <tr id=user.id>
                <td>{{ user.id }} </td>
                <td class="fix-size">{{ user.username }}</td>
                <td class="fix-size">{{ user.email }}</td>
                <td class="fix-size"><a href="{{ url_for('deluser', userid=user.id) }}" class="tablebtn">Delete User</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('usercreate')}}" class="otherbtn">Create New User </a>
</div>
{% endblock %}
</html>