{% extends "base.html" %}

{% block content %}


<section class="content-polls-users light-background">
    <div class="content grid-2 center">
      <div class="vertical-line">
        <h2 class="content-head">
          Polls <i class="fas fa-futbol"></i> <i class="fas fa-poll"></i>
        </h2>
        <p>
          Want to know if people also think Cristiano Ronaldo is the best player in
          the world? Well, you are in the right place! View current and exciting soccer
          polls now, by clicking the 'View Polls' button below. Or if you want to make
          a poll of your own, Login below and get creative!
          Right poll was for predictions of the 2010 World Cup Winner
        </p>
        <a href="#" class="button"> View Polls </a>
      </div>

      <div>
        <h2 class="content-head">
          Users <i class="fas fa-users"></i> <i class="fas fa-user-secret"></i>
        </h2>
        <p>
          Want to know if people also think Cristiano Ronaldo is the best player in
          the world? Well, you are in the right place! View current and exciting soccer
          polls now, by clicking the 'View Polls' button below. Or if you want to make
          a poll of your own, Login below and get creative!
          Right poll was for predictions of the 2010 World Cup Winner
        </p>
        <a href="#" class="button"> Login </a>
      </div>
    </div>
  </section>

  <!-- Explain the website -->
  <section class="content-main dark-background">
    <div class="content center grid-2">
      <div>
      <h2 class="content-head">
        How does the ranking system work?
      </h2>
      <p>
        Ranking is based on the results with the largest percentage of votes.
        For example, if 60% of Users vote on a poll for Zlatan Ibrahimovich to receive the
        goal of the week award, then he will be ranked first and so on.
      </p>
      </div>
      <div class="center">
        <i class="fas fa-poll fa-10x"></i>
         <!-- <img src="pie-chart-world-cup.gif" alt="SOCCER POLL"> -->
      </div>
    </div>
  </section>

 
{% endblock %}