<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Poll Creation</title>
    </head>
    {% extends "base2.html" %}

{% block content %}

<div class="form-wrapper">
    <form class="form" method="post" onsubmit="return validateForm2(this)">
        <div class="form-container">
            <h1 class="register-head">Create New Poll</h1>
            <p class="register-para">Please fill in this form to create a new poll.</p>
            <hr>
            {{ form.hidden_tag() }}
            {% for error in form.pollname.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
            <label class="register-para" for="pollname"><b>{{ form.pollname.label }}</b></label><br>
            <input id="pollname" type="text" placeholder="Pollname" name="pollname" required>
            <br>
            {% for error in form.select1.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
            <p class="register-para" ><b>{{ form.select1.label }}</b></p>
            <div class="dropdown">
              {{ form.select1}}<br>
            </div>

            {% for error in form.select2.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
            <p class="register-para"><b>{{ form.select2.label }}</b></p>
            <div class="dropdown">
              {{ form.select2}}<br>
            </div>

            {% for error in form.select3.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
            <p class="register-para"><b>{{ form.select3.label }}</b></p>
            <div class="dropdown">
              {{ form.select3}}<br>
            </div>

            <hr>
            <button type="submit" class="form-button">Submit Poll</button>
        </div>
        {% if current_user.is_anonymous %}
        <div class="form-bottom">
            <p class="register-para">Don't have an account? <a href="{{ url_for('register') }}">Register now</a>.</p>
        </div>
        {%endif%}
    </form>
</div>

{% endblock %}

</html>
