{% extends "base2.html" %}

{% block content %}

<div class="table-container">
  <table class="table-content">
    <thead>
      <tr>
        <th>Poll ID</th>
        <th>Poll Creator</th>
        <th>Poll Name</th>
        <th></th>
        {% if current_user.admin %}
        <th></th>
        {%endif %}
      </tr>
    </thead>
    <tbody>
        {% for poll in polllist %}
        <tr id= poll.pollid >
        <td>{{ poll.pollid }} </td>
        <td class="column">{{ poll.creator.username }}</td>
        <td>{{ poll.pollname }}</td>
        <td><a href="{{ url_for('poll', pollid=poll.pollid) }}" class="tablebtn">View Poll </a></td>
        {% if current_user.admin %}
        <td><a href="{{ url_for('delpoll', pollid=poll.pollid) }}" class="tablebtn">Delete Poll </a></td>
        {%endif %}
      </tr>
      {% endfor %}
  </table>
  <a href="{{ url_for('pollcreate')}}"  class="otherbtn">Create New Poll </a>
</div>


{% endblock %}

</html>