<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{poll.pollname}}</title>
    </head>
    {% extends "base2.html" %}

{% block content %}

<section class="height content">
  <h2 class="center viewpoll-spacing">{{poll.pollname}}</h2>
  <div class="grid-2">
    <div class="vertical-line">
      <div class="table-container2">
        <table class="table-content2" id="myTable">
          <thead>
            <tr>
              <th>Player Name</th>
              <th>Votes</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in votes %}
            <tr>
              <td>{{ entry.playerentry.playername }}</td>
              <td>{{ entry.votecount }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="chart-container table-container2">
      <canvas id="myChart"></canvas>
    </div>
  </div>
</section>

{%if current_user.is_anonymous %}
<h3 class="center viewpoll-spacing2">Please login to vote!</h3>
<a href="{{ url_for('login')}}" class="otherbtn">Login</a>
{% else %}
{% if uservoted %}
<h3 class="center viewpoll-spacing2">You have already voted for this poll: {{uservoted.playervotename.playername}}</h3>
{% else%}
<h3 class="center viewpoll-spacing2">Please vote below!</h3>


<!---->





<!--start of player vote entry-->
{% if (7 >= numvotes) %}
<section class="blue-background">
  <div class="content2 grid-2">

    <div class="vertical-line">
      <div class="form-wrapper2">
        <form class="form form2" method="post" onsubmit="return validateForm(this)">
            <fieldset class="inlineLabels">
          <div class="form-container">
            <h2>Vote below!</h2>
            {{ form.hidden_tag() }}
            {% for error in form.entries.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
            {{form.entries}}
            <br>
            <button type="submit" class="form-button">Submit Response</button>
          </div>
          </fieldset>
        </form>
      </div>
    </div>


    <div class="form-wrapper2">
      <form class="form form2" method="post" onsubmit="return validateForm(this)">
        <div class="form-container">
          <h3>Add new entry</h3>
          <p>Alternatively, you can add a new response to the poll. Please choose an option from the list below.</p>
          <hr>
          <label class="register-para" for="other"><b>Player to add</b></label><br>
          <div class="dropdown">
            {{ form3.select }}<br>
          </div>
          {{ form3.hidden_tag() }}<br>
          {% for error in form3.select.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          {% for error in form3.submit.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          <button type="submit" class="form-button">Submit Response</button>
        </div>
      </form>
    </div>


  </div>


</section>
{%else %}


<section class="blue-background center">
  <div class="content2">

    <div class="form-wrapper2">
      <form class="form form2" method="post" onsubmit="return validateForm(this)">
        <div class="form-container">
          <h2>Vote below!</h2>
          {{ form.hidden_tag() }}
          {% for error in form.entries.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          <fieldset class="inlineLabels">{{form.entries}}</fieldset>
          <br>
          <button type="submit" class="form-button">Submit Response</button>
        </div>
      </form>
    </div>
  </div>
</section>
{%endif%}

{% endif%}
{% endif%}




<!--admin view, delete votes-->

{% if current_user.admin %}
<section class="fade-background">
  <div class="table-container3">
    <table class="table-content">
      <thead>
        <tr>
          <th>Username</th>
          <th>Vote</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for entry in uservotes %}
        <tr>
          <td class="fix-size">{{entry.voter.username}}</td>
          <td>{{entry.playervotename.playername}}</td>
          <td><a
              href="{{ url_for('delvote', pollid=poll.pollid, playerid=entry.playervotename.playerid, userid=entry.voter.id )  }}"
              class="tablebtn">Delete Response </a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{%endif %}





{% endblock %}
</html>