{% extends "base2.html" %}

{% block content %}

<div class="viewpoll-spacing">
  <h2 class="center">{{poll.pollname}}</h2>

  <!-- Polls section -->
  <section class="view-polls">
    <div class="content grid-2 center">
      <!--insert table below-->
      <div class="table-container2">
        <table class="table-content2">
          <thead>
            <tr>
              <th>Player Name</th>
              <th>Votes</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in votes %}
            <tr id=entry.playerid>
              <td>{{ entry.playerentry.playername }} </td>
              <td>{{ entry.votecount }}</td>
            </tr>
            {% endfor %}
        </table>
      </div>
      <div class="chart-container">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </section>
</div>





<div class="vertical-line">
  <div class="table-container2">
    <table class="table-content2">
      <thead>
        <tr>
          <th>Username</th>
          <th>Vote</th>
          {% if current_user.admin %}
          <th>Delete?</th>
          {%endif %}
        </tr>
      </thead>
      <tbody>
        {% for entry in uservotes %}
        <tr>
          <td>{{entry.voter.username}}</td>
          <td>{{entry.playervotename.playername}}</td>
          {% if current_user.admin %}
          <td><a
              href="{{ url_for('delvote', pollid=poll.pollid, playerid=entry.playervotename.playerid, userid=entry.voter.id )  }}"
              class="tablebtn">Delete Response </a></td>
          {%endif %}
        </tr>
        {% endfor %}
    </table>
  </div>
</div>

{%if current_user.is_anonymous %}
<h2> Please login to vote!</h2>
{% else %}
{% if uservoted %}
<h2>You have already voted</h2>
{% else%}
<h2>please vote below</h2>

<div class="form-wrapper2">
  <form class="form" action="" method="post" onsubmit="return validateForm(this)">
    <div class="form-container">
      <h2 class="register-head">Submit your vote below!</h2><br>
      <label class="register-para" for="other"><b>Other</b></label><br>
      {{ form.hidden_tag() }}
      {{form.entries}}<br>
      <p>{{ form.submit() }}</p>
    </div>
  </form>
</div>

<div class="form-wrapper2">
    <form class="form" action="" method="post" onsubmit="return validateForm(this)">
      <div class="form-container">
        <h2 class="register-head">New player add</h2><br>
        <label class="register-para" for="other"><b>Other</b></label><br>
        {{ form2.hidden_tag() }}
        {{form2.newname.label}}<br>
        {{form2.newname(size=32)}}<br>
        <p>{{ form2.submit() }}</p>
      </div>
    </form>
  </div>


{% endif%}
{% endif%}






{% endblock %}