{% extends "base2.html" %}

{% block content %}

<!--
  <div class="sv-row">
      <div class="sv-panel sv-panel-primary">

        <div class="sv-panel-heading">
          <h2 class="sv-panel-title">
            Student details
          </h2>
        </div>
        <div class="sv-panel-body">
              <table class="sv-table">
                <tbody>
                  <tr>
                    <th width="25%" class="sitsrowhead" scope="row"> Student number </th>
                    <td width="75%"> 1638321</td>
                  </tr>
                  <tr>
                    <th width="25%" class="sitsrowhead" scope="row"> Name </th>
                    <td width="75%"> Samuel Martin </td>
                  </tr>
                  <tr>
                    <th width="25%" class="sitsrowhead" scope="row"> Programme </th>
                    <td width="75%"> Comp Scienece </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
    </div>
  </div> -->

<div class="container-table100">
    <!-- <div class="wrap-table100"> -->
    <div class="table100">
        <table>
            <thead>
                <tr class="table100-head">
                    <th class="column">Poll ID</th>
                    <th class="column">Poll Creator</th>
                    <th class="column">Poll Name</th>
                    <th class="column"></th>

                </tr>
            </thead>
            <tbody>
                {% for poll in polllist %}
                <tr id= poll.id >
                    <td class="column">{{ poll.pollid }} </td>
                    <td class="column">{{ poll.creator.username }} </td>
                    <td class="column">{{ poll.pollname }} </td>
                    <td class="column"><a href="#" class="button">View Poll </a></td>
                    <!-- <td class="column">  <a href="#" class="button"> Vote on Poll </a></td> -->

                    <!-- <td class="column">iPhone X 64Gb Grey</td>
                                        <td class="column">$999.00</td>
                                        <td class="column">1</td>
                                        <td class="column">$999.00</td> -->
                </tr>
                {% endfor %}
        </table>
    </div>
    <!-- </div> -->
</div>
</body>


{% endblock %}

</html>