{% extends "base2.html" %}

{% block content %}

<div class="form-wrapper2">
        <form class="form">
          <div class="form-container">
            <h2 class="register-head">Submit your vote below!</h2>
            {% for entry in votes %}
            <input type="radio" name="option" value="{{entry.playerentry.playerid}}">{{ entry.playerentry.playername }}<br>
            {% endfor %}
            <br>
            <label class="register-para" for="other"><b>Other</b></label>
            <input type="text" placeholder="Name" name="Name">
            <input type="text" placeholder="Country" name="Country">
            <input type="text" placeholder="Club" name="Club">
            <button type="submit" class="form-button">Submit Response</button>
          </div>
        </form>
      </div>


{% endblock %}

</html>