<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sign Up</title>
    </head>
    {% extends "base2.html" %}

{% block content %}



<!---->
<div class="form-wrapper">
    <form class="form" method="post" onsubmit="return validateForm(this)">
        <div class="form-container">
            <h1 class="register-head">Register</h1>
            <p class="register-para">Please fill in this form to create an account.</p>
            <hr>
            {{ form.hidden_tag() }}
            {% for error in form.username.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
            <label class="register-para" for="username"><b>{{ form.username.label }}</b></label><br>
            <input id="username" type="text" placeholder="Username" name="username" required>
            
            <!--
            <input type="text" placeholder="Enter Username" name="username" required>
            -->
            {% for error in form.email.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
            <label class="register-para" for="email"><b>{{ form.email.label }}</b></label><br>
            <input id="email" type="text" placeholder="Email" name="email" required>
            
            <!--
            <input type="email" placeholder="Enter Email" name="email" required>
            -->
            {% for error in form.password.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
            <label class="register-para" for="password"><b>{{ form.password.label }}</b></label><br>
            <input id="password" type="password" placeholder="Password" name="password" required>

            <!--
            <input type="password" placeholder="Enter Password" name="password" required>
            -->
            {% for error in form.password2.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
            <label class="register-para" for="password2"><b>{{ form.password2.label }}</b></label><br>
            <input id="password2" type="password" placeholder="Confirm Password" name="password2" required>
            
            <hr>
            <button type="submit" class="form-button">Submit Response</button>
            
        </div>

        <div class="form-bottom">
            <p class="register-para">Already have an account? <a href="{{ url_for('login') }}">Sign in</a>.</p>
        </div>
    </form>
</div>
{% endblock %}
</html>